
<div class="twocol">
    <h2>{{contacts.title}}</h2>
    <div class="datapoint"><label>True Owner:</label><span class="value"> {{contacts.trueOwner}}</span></div>
    <div class="datapoint"><label>Recorded Owner:</label><span class="value"> {{contacts.recordOwner}}</span></div>
    <div class="datapoint"><label>Developer:</label><span class="value"> {{contacts.developer}}</span></div>
    <div class="datapoint"><label>Property Manager:</label><span class="value"> {{contacts.propertyManager}}</span></div>
    <div class="datapoint"><label>Architect:</label><span class="value"> {{contacts.architect}}</span></div>
    <div class="datapoint"><label>Sales Company:</label><span class="value"> {{#each contacts.salesCompany.lines}} {{this}} <br>{{/each}}</span></div>
    <div class="datapoint"><label>Landlord Rep:</label><span class="value"> {{#each contacts.landlordRep.lines}} {{this}} <br>{{/each}}</span></div>
</div>