


<div class="twocol">
    <h2>{{property.title}}</h2>
    <div class="datapoint"><label>Type:</label><span class="value"><span class="value">{{property.type}}</span></span></div>
</div>

<div class="onecol">
    <div class="datapoint"><label>RBA:</label><span class="value">{{property.rba}}</span></div>
    <div class="datapoint"><label>Stories:</label><span class="value">{{property.stories}}</span></div>
    <div class="datapoint"><label>Typical Floor:</label><span class="value">{{property.typicalFloor}}</span></div>
    <div class="datapoint"><label>Core Factor:</label><span class="value">{{property.coreFactor}}</span></div>
    {{#if property.landArea}}
    <div class="datapoint"><label>Land Area:</label><span class="value">{{property.landArea}}</span></div>
    {{/if}}
    <div class="datapoint"><label>Construction:</label><span class="value">{{property.type}}</span></div>
</div>

<div class="spacer">&nbsp;</div>

<div class="onecol">
    <div class="datapoint"><label>Year Built:</label><span class="value">{{property.yearBuilt}}</span></div>
    <div class="datapoint"><label>Year Renovated:</label><span class="value">Mar 2012</span></div>
    <div class="datapoint"><label>Class:</label><span class="value">A</span></div>
    <div class="datapoint"><label>Tenancy:</label><span class="value">Multi</span></div>
    <div class="datapoint"><label>Dist to Transit:</label><span class="value">17 min walk</span></div>
    <div class="datapoint"><label>Station:</label><span class="value">Cheverly Transit Stop (Orange Line)</span></div>
</div>

<div class="onecol">
    <div class="datapoint"><label>Total Avail:</label><span class="value">2,776 - 24,365 SF</span></div>
    <div class="datapoint"><label>Vacant:</label><span class="value">24,000 SF</span></div>
    <div class="datapoint"><label>% Leased:</label><span class="value">90.1%</span></div>
</div>

<div class="spacer">&nbsp;</div>

<div class="onecol">
    <div class="datapoint"><label># of Spaces:</label><span class="value">3</span></div>
    <div class="datapoint"><label>Smallest Space:</label><span class="value">2,776 SF</span></div>
    <div class="datapoint"><label>Max Contig:</label><span class="value">9,897 SF</span></div>
</div>

<div class="twocol">
    <div class="datapoint"><label>Parking:</label><span class="value">50 Covered Spaces @ $100.00/mo; Ratio of 1.40/1,000 SF</span></div>
    <div class="datapoint"><label>Amenities:</label><span class="value">Balconies, Central Employment Area, Corner Lot, Energy Star Labeled, LEED Certified - Gold, LEED Certified - Silver, Restaurant</span></div>
    <div class="datapoint"><label>Zoning:</label><span class="value">C-3-C</span></div>
    <div class="datapoint"><label>Parcel No:</label><span class="value">0253-0066</span></div>
    <br>
    <div class="datapoint"><label>Taxes:</label><span class="value">$11.38/SF (2014-Est); $10.65/SF (2010)</span></div>
    <div class="datapoint"><label>Opex:</label><span class="value">$13.45/SF (2014-Est);$12.45/SF (2008)</span></div>
    <div class="datapoint"><label>Total Expenses:</label><span class="value">$24.83/SF (2014-Est)</span></div>
    <br>
    <div class="datapoint"><label>For Sale:</label><span class="value">$133,000,000 ($510.11/SF) @ 6.7% Cap - Active</span></div>
</div>

